<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Compass.ProteinHoarder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Protein_Hoarder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <Compass.ProteinHoarder.Properties.Settings>
      <setting name="conservativePScore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="minPeptidesPerProteinGroup" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="maxFDR" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="maxMissedCleavages" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="outputDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="databaseDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="csvDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ProteinScoringValue" serializeAs="String">
        <value>proteinscoringCB</value>
      </setting>
      <setting name="includeUnfilterResults" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="semiDigestion" serializeAs="String">
        <value>False</value>
      </setting>
    </Compass.ProteinHoarder.Properties.Settings>
    <Protein_Hoarder.Properties.Settings>
      <setting name="conservativePScore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="minPeptidesPerProteinGroup" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="maxFDR" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="maxMissedCleavages" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="outputDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="databaseDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="csvDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ProteinScoringValue" serializeAs="String">
        <value>proteinscoringCB</value>
      </setting>
      <setting name="includeUnfilterResults" serializeAs="String">
        <value>False</value>
      </setting>
    </Protein_Hoarder.Properties.Settings>
  </userSettings>
</configuration>