<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSetSitetings" type="System.Configuration.UserSetSitetingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DtaGenerator.Properties.SetSitetings" type="System.Configuration.ClientSetSitetingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSetSitetings>
        <DtaGenerator.Properties.SetSitetings>
            <setting name="minimumAssumedPrecursorChargeState" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="maximumAssumedPrecursorChargeState" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="enableLockMassRecalibration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lockMassMZ" serializeAs="String">
                <value>202.07770</value>
            </setting>
            <setting name="kenny" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cleanPrecursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableEtdPreProcessing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cleanTmtDuplex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cleanItraq4Plex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cleanTmt6Plex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cleanItraq8Plex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableDeIsotoping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fragmentIntensityThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="groupByActivationEnergyTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sequestDtaOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="omssaTxtOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mascotMgfOutput" serializeAs="String">
                <value>False</value>
            </setting>
        </DtaGenerator.Properties.SetSitetings>
    </userSetSitetings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
