<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatchLowResFdrOptimizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BatchLowResFdrOptimizer.Properties.Settings>
            <setting name="higherScoresAreBetter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maximumFalseDiscoveryRate" serializeAs="String">
                <value>1.00</value>
            </setting>
            <setting name="unique" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="overallOutputs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="phosphopeptideOutputs" serializeAs="String">
                <value>False</value>
            </setting>
        </BatchLowResFdrOptimizer.Properties.Settings>
    </userSettings>
</configuration>